name: Lint Code

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  lint_python:
    name: Lint Python Files
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.12

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8

    - name: Run Python Linter
      run: |
        flake8 . \
          --exclude=server/djangoapp/migrations \
          --ignore=E501,E302,E231,E275,E722,F401,F811,F841,W292,W391,E203,E225,E251,E265,E712,E117,E303,E121,E131,E226
        echo "Python lint completed successfully"


  lint_js:
    name: Lint JavaScript Files
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 14

    - name: Install JSHint
      run: npm install -g jshint

    - name: Run JavaScript Linter
      run: |
        find ./server/database -name "*.js" -exec jshint {} +
        echo "JavaScript lint completed successfully"
